@use 'variables' as var;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

header {
    background: url('/src/assets/images/pattern-bg-mobile.png') no-repeat 0 0 / cover;
    @media (min-width: 992px) {
        background: url('/src/assets/images/pattern-bg-desktop.png') no-repeat 0 0 / cover;
    }
    height: 42vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2rem;
    @media (min-width: 992px) {
        height: 34vh;
    }
}

.header__heading {
    font-weight: 500;
    color: #fff;
    font-size: clamp(1.5rem, 1.324rem + 0.751vw, 2rem);
}

::placeholder {
    font-size: clamp(0.6rem, 0.302rem + 1.702vw, 1.1rem);
}

form {
    margin-block-start: 1.5rem;
    #header__input {
        width: min(500px, 68vw);
        padding-block: clamp(0.6rem, 0.455rem + 0.828vw, 1.2rem);
        outline: none;
        border: none;
        padding-inline-start: 1.5rem;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        font-size: 1.3rem;
        height: 100%;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;

    }

    .header__submit {
        all: unset;
        background-color: black;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        padding-inline: 24px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        position: relative;
        left: -3px;
        top: -1.5px;
        font-weight: 600;
        height: 100%;
        cursor: pointer;
    }
}

.header__tracer-data {
    width: min(1100px, 84vw);
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 1.5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    row-gap: clamp(1rem, 0.824rem + 0.751vw, 1.5rem);
    padding-block: 2rem;
    padding-inline: 2rem;
    @media (min-width: 992px) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
        grid-template-rows: 100%;
        justify-content: center;
        gap: 1rem;
        align-items: baseline;
        text-align: start;
        top: 2.5rem;
    }
    .header__tracer-title {
        font-size: clamp(0.6rem, 0.552rem + 0.276vw, 0.8rem);
        color: var.$Dark-Gray;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .header__detail-container {
        line-height: 1.6;
        @media (min-width: 992px) {
            &:not(&:last-child) {
                border-right: 1px solid #2b2b2b4d;
            }
            margin-block-start: 0;
            margin-inline-end: 1rem;
            height: 100%;
        }
    }
    .header__tracer-content {
        font-weight: 500;
        font-size: clamp(1.1rem, 1.003rem + 0.552vw, 1.5rem);
        @media (min-width: 992px) {
            font-weight: 500;
        }
    }
}

.header__loader-container {
    display: flex;
    justify-content: center;
    .header__tracer-loader {
        width: 80px;
        height: 80px;
    }
}

.header__tracer-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    .header__tracer-errorIcon {
        fill: red;
    }
    .errorMessage {
        color: var.$Dark-Gray;
    }
}

main {
    height: calc(100vh - 42vh);
    @media (min-width: 992px) {
        height: calc(100vh - 34vh);
    }
    #map {
        height: 100%;
        z-index: -1;
    }
}
